.result {
  height: 60px;
  background-color : #ffffff;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
  background-color: #ffffff;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.calc{
  background: #AB4967;
  height :100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}